.card {
  color: #00000098;
  background: lightgrey;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 0px;
  border: 4px solid #222222;
  border-radius: 20px;
}